
.box{
    padding: 30px;
    text-align:center;
    color: whitesmoke;
    font-size: 2em;
   
}
.bg-black{
    background-color: black;
}
.bg-violet{
    background-color: violet;
}
.bg-darkblue{
    background-color:darkblue;
}
.textDark{
    color: goldenrod;
    font-weight: bolder;
    text-align: center;
    clear: both;
    margin: 6px;
}

.grid{
    width: 99%;
    display: grid;
}
.grid-template-columns-row{
    grid-template-columns: repeat(3,2fr);
    grid-template-rows: 20vh 20vh 20vh;
    grid-gap: 20px;
   height: 40vh;
}
.linear-gradient{
    background: linear-gradient(to left,grey,darkred);
}

.rotate:hover{
    transform: rotateZ(90deg);
    cursor: pointer;
    transition: transform 3s;
}

@keyframes animateDiv{
    2% {width: 400px;}
    15% {width: 700px;}
    40% {width: 900px;}
    85% {width: 500px;}
    90% {width: 400px;}
}

.animate{
background-color:#8e2f2f;
animation-name: animateDiv;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 7s;
}
@keyframes textAlpha{
    from{opacity: 1;}
    to{opacity: 7;}
}
