<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/estilo.css">
    <title>Rama proyecto</title>
</head>
<body>
    <header>
        <div class= "rotate">
        <h2> ALFAJORES</h2>
        </div>
    <div class="box bg-black">
        <h4>ALFAJOR</h4>
       ALFAJOR/ALFAJOR/ALFAJOR/ALFAJOR
    </div>
    <div class="box bg-violet">
       <h4>ALFAJOR2</h4>
      ALFAJOR/ALFAJOR/ALFAJOR

    </div>
   <div class="box bg-darkblue">
      <h4>ALFAJOR3</h4>
ALFAJOR/ALFAJOR/ALFAJOR
        </div>
        </nav>
    </header>
    <h2> Alfajor </h2>
    <div class="grid grid-template-columns-row">
    <h5 class="box bg-black">Grandote</h5>
    <h5 class="box linear-gradient">Pan para tostado</h5>
    <h5 class="box bg-darkblue">Pan Cortado blanco y negro</h5>

        </div>
    

    </header>
    <main>
        <h2 class="textDark animate">Habia una vez un alfajor chiquito </h2>

<section> 

</section> 

<p class="textDark">Se hacia grandote, se hacia chiquito</p>


</main>
    <footer>

    </article>
    </footer>
</body>
</html>