<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>Megalfajores SA</title>
    <link rel="stylesheet" href="../css/estilo.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster+Two&family=Open+Sans+Condensed:wght@700&display=swap" rel="stylesheet">
<body>
    <header class="general__header">
        <h1 class="header__title"> Megalfajores SA </h1>
        <nav> 
            <ul class="header__list">
                <li><a class="header__list__article" href="productos.html">productos</a></li>
                <li><a class="header__list__article" href="distribucion.html">distribucion</a></li>
                <li><a class="header__list__article" href="nosotros.html">nosotros</a></li>
                <li><a class="header__list__article" href="encontranos">encontranos</a></li>
            </ul>
        </nav>
    </header>
    <main>
         <h2
              class="textDark animate"> Desde hace mas de 100 años <br> brindando el mejor producto <br> para regalar al volver de vacaciones <p>  
        </h2>

<section> 
    <div class="container flex-direction justify-content align-items"> 
<div> <img class= "transform" src="../assets/img/trabaja1.jpg" alt="bread" width="470px"></div>
<div> <img class= "rotate" src="../assets/img/trabaja2.jpg" alt="bread2" width="470px"></div>
<div> <img class= "skew" src="../assets/img/trabaja4.jpg" alt="bread4" width="470px"></div> 
</div>
</section> 

<p class="textDark">Consegui nuestros productos en todas las provincias del pais</p>


</main>
    <footer>
    <h3>Información</h3>
    <img src="../assets/img/tel.png" alt="tel" width="50px">
    4344-0467
    <img src="../assets/img/mail.png" alt="mail" width="50px">
    Megalfajores@gmail.com
    <img src="../assets/img/direcc.png" alt="dicc" width="50px">
    Pellegrini 4500
    <article>
        <a href="#"><img src="../assets/img/wpp.png" alt="whatsapp" width="50px"></a>
    </article>
    </footer>
</body>
</html>        

