<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Encontranos</title>
     <link rel="stylesheet" href="../css/estilo.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster+Two&family=Open+Sans+Condensed:wght@700&display=swap" rel="stylesheet">
<body>
    <header class="general__header">
        <h1 class="header__title"> Megalfajores SA </h1>
        </header>
    <main>
</head>
<body>
	  <header> 
        <h3>
     
        <nav> 
            <ul>
               <li><a class="header__list__article" href="productos.html">productos</a></li>
                <li><a class="header__list__article" href="distribucion.html">distribucion</a></li>
                <li><a class="header__list__article" href="nosotros.html">nosotros</a></li>
                <li><a class="header__list__article" href="encontranos">encontranos</a></li>
            </ul>
        </nav>
        </h3>
    </header>
	<h2>Ubicacion del local</h2>
	<div>
		<h2>Estamos Aqui</h2>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3263.580993148514!2d-58.898763484672386!3d-35.117172292353004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bd1ca28ff4e0a7%3A0x7c6e695b07b114d!2sUribelarrea!5e0!3m2!1ses-419!2sar!4v1643086696932!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
	</div>

</main>
    <footer>
    <h3>Información</h3>
    <img src="../assets/img/tel.png" alt="tel" width="50px">
    4344-0467
    <img src="../assets/img/mail.png" alt="mail" width="50px">
    Megalfajores@gmail.com
    <img src="../assets/img/direcc.png" alt="dicc" width="50px">
    Pellegrini 4500
    <article>
        <a href="#"><img src="../assets/img/wpp.png" alt="whatsapp" width="50px"></a>
    </article>
    </footer>
</body>
</html>        
