<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
     <link rel="stylesheet" href="../css/estilo.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster+Two&family=Open+Sans+Condensed:wght@700&display=swap" rel="stylesheet">
<body>
    <header class="general__header">
        <h1 class="header__title"> Megalfajores SA </h1>
       
    </header>
    <main>
</head>
<body>
      <header>
     
        <nav> 
            <ul>
                <li><a class="header__list__article" href="productos.html">productos</a></li>
                <li><a class="header__list__article" href="distribucion.html">distribucion</a></li>
                <li><a class="header__list__article" href="nosotros.html">nosotros</a></li>
                <li><a class="header__list__article" href="encontranos">encontranos</a></li>
            </ul>
        </nav>
    </header>
    <h1>Productos</h1>
    <div class="grid grid-template-columns-row">
    <h5 class="box bg-black">Alfajores de Chocolate</h5>
    <img src="../assets/img/alfachoco.jpg" alt="alfacho" width="370px">
    <h5 class="box linear-gradient">Alfajores de dulce de leche</h5>
    <img src="../assets/img/alfaleche.jpg" alt="alfalech" width="370px">
    <h5 class="box bg-red">Alfajores de fruta</h5>
    <img src="../assets/img/alfafruta.png" alt="alfafru" width="370px">
        </div>
    </main>
    


    <footer class="altfooter">
    <h3>Información</h3>
    <img src="../assets/img/tel.png" alt="tel" width="50px">
    4344-0467
    <img src="../assets/img/mail.png" alt="mail" width="50px">
    Megalfajores@gmail.com
    <img src="../assets/img/direcc.png" alt="dicc" width="50px">
    Pellegrini 4500
    <article>
        <a href="#"><img src="../assets/img/wpp.png" alt="whatsapp" width="50px"></a>
    </article>
    </footer>
</body>
</html>        
    

     <!--<h1>Productos</h1>
    <table border="5px" cellpadding="10px">
        <tr>
            <td>Productos</td>
            <td>Tipo</td>
            <td>Precio</td>
        </tr>
        <tr>
        <td>Alfajor</td>
        <td>Dulce de Leche</td>
        <td>$00.00</td>
        </tr>
        <tr>
            <td>Alfajor</td>
            <td>Chocolate</td>
            <td>$00.00</td>
        </tr>
        <tr>
            <td>Alfajor</td>
            <td>Fruta</td>
            <td>$00.00</td>
        </tr>
        <tr>
            <td>Alfajor</td>
            <td>90% cacao</td>
            <td>$00.00</td>
        </tr>
        <tr>
            <td>Galletitas</td>
            <td>De limon</td>
            <td>$00.00</td>
        </tr>
    </table>
</main>
    <footer>
    <h3>Información</h3>
    TELÉFONO
    MAIL
    DIRECCIÓN
    </footer>
</body>
</html>